@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Bekasi, West Java<br />
    Indonesia<br />
    <abbr title="Mobile">Mobile :</abbr>
    +62 85747117005
</address>

<address>
    <strong>Support :</strong>   <a href="mailto:fwahyudi06@gmail.com">fwahyudi06@gmail.com</a><br />
</address>