@{
    ViewBag.Title = "Dashboard";
}

<div class="jumbotron">
    <h1>Azur Application</h1>
    <p class="lead">Azur Application is the second project in microsoft azure learning (Learn - Azure Storage and Cognitive Services).</p>
    <p><a href="https://portal.azure.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>